<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MvcApplication</title>
    <link rel='stylesheet' href='~/lib/bootstrap/dist/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <a class="navbar-brand" asp-area="" asp-controller="Calls" asp-action="Index">Calls</a>
                <a class="navbar-brand" asp-area="" asp-controller="Masters" asp-action="Index">Employees</a>
                <a class="navbar-brand" asp-area="" asp-controller="Lamps" asp-action="Index">Lamps</a>
                <a class="navbar-brand" asp-area="" asp-controller="Lanterns" asp-action="Index">Lanterns</a>
                @if (User.Identity.IsAuthenticated)
                {
                    <p class="bg-info">@User.Identity.Name</p>

                    <form method="post" asp-controller="Account" asp-action="LogOff">
                        <input type="submit" value="log off" />
                    </form>
                }
                else
                {
                    <a class="navbar-brand" asp-controller="Account" asp-action="Login">Login</a>
                    <a class="navbar-brand" asp-controller="Account" asp-action="Register">Sign up</a>
                }
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - MvcApplication - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
